@charset "utf-8";
/**
 * MDC-Web 変数設定
 */
html {
  --font-family: '游ゴシック Medium', 'Yu Gothic Medium',
  '游ゴシック体', 'YuGothic', 'ヒラギノ角ゴ ProN W3',
  'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
  --mdc-typography-font-family: var(--font-family);
}

/**
 * 基本スタイル
 */
 html {
  font-family: var(--font-family);
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body,
input,
select,
textarea,
button {
  font-family: var(--font-family);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  width: auto;
  max-width: 100%;
  vertical-align: bottom;
}

/**
 * レイアウト
 */
.page-content {
  display: grid;
}
.sidebar {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 840px) {
  .main,
  .sidebar {
    padding: 1rem;
  }
  .main {
    grid-row: 2 / 3;
    padding-top: 2em;
  }
  .sidebar {
    grid-row: 1 / 2;
  }
}
@media screen and (min-width: 841px) {
  .page-content {
    grid-template-columns: 250px 1fr;
    min-height: 100vh;
  }
  .main,
  .sidebar {
    grid-row: 1 / 2;
    padding: 2rem;
  }
  .main {
    grid-column: 2 / 3;
  }
  .sidebar {
    grid-column: 1 / 2;
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2),
      0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  }
}

.main > *:first-child,
.sidebar > *:first-child {
  margin-top: 0 !important;
}
.main > *:last-child,
.sidebar > *:last-child {
  margin-bottom: 0 !important;
}

/**
 * 住所検索コンポーネント
 */
.zip-search-result > *:first-child {
  margin-top: 0 !important;
}
.zip-search-result > *:last-child {
  margin-bottom: 0 !important;
}
.zip-search__footer {
  text-align: center;
  margin-top: 1em;
}

.form-error-message {
  color: var(--mdc-theme-error);
  margin: 1em 0;
}

.label-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.form-item-container .text-field {
  display: block;
}
